/*
    T!Script > Estilos
    Autor: JNeutron
    ::
    Estilos extra agregadas al script.
*/
body .form-add-post li.error input,.error textarea {
	-moz-box-shadow:0 0 5px #e20404!important;
	-webkit-box-shadow:0 0 5px #e20404!important;
	box-shadow:0 0 5px #e20404!important;
	border:1px solid #e20404!important;
}
#mydialog.preview #buttons {
	margin:-10px 10px 10px !important;
	padding:0 !important;
}
#mydialog.preview #dialog #title {
	display: none !important;
}
/* UPLOAD */
#upload_form {
    display: none;
}
#upload_form p{
    text-align: justify;
    margin: 5px;
}
#upload_form hr {
    background-color: #FF7A00;
}
#upload_form .head{
    padding: 5px;
    text-align: left;
}
#upload_form .inputs {
    text-align: center;
    width: 250px;
}
#upload_form input[type="radio"]{
    margin: 0 5px 0;
}
#upload_form input[type="file"]{
    margin-left: 1em;
    margin-bottom:5px;
}
#results .status_0{
    color:red;
}
#results .status_1{
    color:green;
}
#imagenes {
    text-align: center;
    overflow: auto;
    max-width: 674px;
    max-height: 163px;
}
#imagenes .item{
    width: 160px;
    float:left;
    margin: 1em 2px 0;
}
#imagenes .item img{
    max-width: 150px;
    max-height: 120px;
}
#imagenes a.txt{
    display:block;
}